/* App.css */
.container {
  text-align: center;
  max-width: 100%;
  overflow: hidden;
}

h1, h4 {
  font-weight: bold;
  color: #2c3e50;
}

#deleteButton {
  margin: auto;
}

.click-history {
  height: 1000px; /* 25 numeri x (30px altezza + 6px gap) ≈ 900px */
  overflow-y: auto;
  border: 1px solid #ccc;
  border-radius: 8px;
  background: #f9f9f9;
  padding: 10px;
}
.click-history li {
  font-size: 1.1em;
}

.btn {
  margin-left: 0;
}


.extracted-numbers-grid {
  display: flex;
  flex-direction: column;
  gap: 6px;
  align-items: center;
}

.extracted-number {
  width: 30px;
  height: 30px;
  font-size: 0.9em;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  font-weight: bold;
  color: white;
}



.extracted-number.red {
  background-color: #e74c3c;
}

.extracted-number.black {
  background-color: #2c3e50;
}

.extracted-number.green {
  background-color: #27ae60;
}
