html, body { 
    touch-action: pan-y;
  overscroll-behavior: none;
  overflow-x: hidden; 
  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -webkit-touch-callout: none;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  /* Disabilita lo zoom su dispositivi touch come iPad mini */
}

@media screen and (min-device-width: 768px) and (max-device-width: 1024px) 
  and (orientation: portrait) {
  html, body {
    touch-action: none;
    overscroll-behavior: none;
    overflow-x: hidden; 
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -webkit-touch-callout: none;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
  }
}

.extracted-number.red {
  background-color: #e74c3c;
}

.extracted-number.black {
  background-color: #2c3e50;
}

.extracted-number.green {
  background-color: #27ae60;
}

 
 

@media (min-width: 768px) and (max-width: 1240px) {
  .green-table {
  width: auto;               
  min-width: 100%; 
  margin-top: 20%;     
  margin-left: 20%;      
  border-collapse: collapse;
  table-layout: auto;       
}

.green-table th,
.green-table td {
  border: 1px solid rgb(197, 196, 196);
  padding: 6px 12px;          
  text-align: center;
  font-size: 15px;
  white-space: nowrap;
}

.green-table th {
  background-color: #cacaca;    
  color: rgb(49, 49, 49);
  font-weight: normal;
}
 .ScaledContainer{
  transform: scale(0.9); /* Riduce la dimensione della roulette */
  transform-origin:top; /* Mantiene l'angolo superiore sinistro come punto di riferimento */
  width: 100%; /* Occupa tutta la larghezza disponibile */
  height: 100%; /* Occupa tutta l'altezza disponibile */ 
}

.col-green-table{
  width:50% 
}
.col-history{
  width:60%
}
.col-roulette{
  width:50%
}
.col-buttons{ 
  width:10%
}

 .bg-primary{
    font-Size: "0.85rem" 
  }
 
.col-buttons .rotated-button { 
  flex-direction: row;
    margin: 0 10px;
    margin-top: -300px;
  }
  .vertical-buttons {
  display: none;
  flex-direction: column;
  gap: 100px; /* distanza verticale tra bottoni */
}

.vertical-buttons button {
  min-width: 100px;
  text-align: center;
}
 .button-container { 
  justify-content: center; /* Centra i bottoni orizzontalmente */
  gap: 10px; /* Spazio tra i bottoni */
  margin-top: 20px; /* Spazio sopra i bottoni */
}

.rotated-button { 
    transform-origin: center;
    white-space: nowrap;
    width: max-content; 
    font-size: 14px;
    display: block;
    margin: 5px;
}


.NumeriEstrattiTitolo{
  font-size: 2rem;
  margin-left: 35%;
}
.extracted-number {
  width: 40px;
  height  :40px;
  font-size: 1.2rem;  
  font-weight: bold;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white; 
  margin-top:20px;
}
.click-history { 
  background-color: #f8f9fa; /* sfondo chiaro */
  border: 2px solid #ccc; /* bordo visibile */
  border-radius: 10px; 
  box-shadow: 0 4px 8px rgba(0,0,0,0.1); 
  height: 88%; /* per estendere l'altezza in colonna */
  max-width: 100%; 
  margin-top: 35px;
}
  .rotated-button {
    font-size: 20px; 
  }

  .btn-danger{ 
    font-size: 1.5rem;
    margin-top: 10%;
    margin-left: 20%;
  }
    .btn-warning{ 
    font-size: 1.5rem;
    margin-top: 10%;
    margin-left: 30%;
  }
  .vertical-buttons { 
    max-width : 0px;
    gap: 80px; /* meno spazio per schermi piccoli */
  }
 
  .ipad-button-group {
    gap: 4rem; /* aumenta lo spazio tra i bottoni su iPad */
    margin-left: 40%;
  }
  .vertical-buttons button {
    margin-left:-50px;
    min-width: 80px;
    font-size: 1rem;
  }

  .title-small {
    font-size: 1.8rem;
    margin-left: 40px;
  }

  .subtitles{
    font-size: 1.2rem;
    margin-left: 20px;
  }
.extracted-numbers-grid { 
  height: 100%; 
  margin-left: 25px;
  display: flex;  /* affianca le colonne */  
  gap: 40px;       /* spazio tra colonne */
  min-height:650px; 
  max-height:650px;  
}

.extracted-column {
  display: flex;
  max-height:80% ;
  flex-direction: column;
  gap: 5px;       /* spazio tra numeri verticalmente */
}
.subtitle-small {
  font-size: 0.7rem;
}
}

 
@media (max-width: 575.98px) {
.green-table {
  width: 100%;      /* meglio full width per adattarsi al contenitore */
  border-collapse: collapse;
  table-layout: fixed;  /* importante per celle di larghezza fissa */
}

.green-table th,
.green-table td {
  border: 1px solid rgb(197, 196, 196);
  padding: 3px 6px;          /* riduci il padding per celle più strette */
  text-align: center;
  font-size: 12px;           /* puoi ridurre leggermente la dimensione del font */
  white-space: nowrap;
  overflow: hidden;          /* evita che il contenuto allarghi la cella */
  text-overflow: ellipsis;   /* taglia il testo troppo lungo con ... */
  max-width: 45px;           /* imposta una larghezza massima */
  width: 42px;               /* imposta larghezza fissa per le celle */
}

.green-table th {
  background-color: #cacaca;
  color: rgb(49, 49, 49);
  font-weight: normal;
}
.button-container {
  transform: scale(1.1);
}
.roulette-container {
  margin-right: 10%;
  transform: scale(1.08);
}
  .ScaledContainer{  
  transform: scale(0.85); /* Riduce la dimensione della roulette */
  transform-origin:top; /* Mantiene l'angolo superiore sinistro come punto di riferimento */
  width: 100%; /* Occupa tutta la larghezza disponibile */
  height: 100%; /* Occupa tutta l'altezza disponibile */
   
} 
.col-green-table{
  width:50% 
}
.col-history{
  width:60%
}
.col-roulette{
  width:50%
}
.col-buttons{ 
  width:10%
}
 

.rotated-button {
    transform: rotate(90deg);
    transform-origin: center;
    white-space: nowrap;
    width: max-content; 
    font-size: 14px;
    display: block;
    margin: 5px;
}


.NumeriEstrattiTitolo{
  font-size: 1rem;
  margin-left: 35%;
}
.extracted-number {
  width: 23px;
  height: 23px;
  font-size: 0.9rem; /* ridotto per smartphone */
  font-weight: bold;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  margin-top: 25%;
}
.click-history { 
  margin-top: 10%;
  background-color: #f8f9fa; /* sfondo chiaro */
  border: 2px solid #ccc; /* bordo visibile */
  border-radius: 10px;
  padding: 0px;
  margin-right: 10%;;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1); 
  height: 100%; /* per estendere l'altezza in colonna */
  min-width: 100%; 
}
  .rotated-button {
    font-size: 12px; 
  }

  .btn-danger{  
     margin-top: 15%;
     margin-left: 10%;
  }
    .btn-warning{ 
      margin-top:15%;
      margin-left: 25%;
  }
  .vertical-buttons {
    max-width : 0px;
    gap: 80px; /* meno spazio per schermi piccoli */
  }

  .vertical-buttons button {
    margin-left:-57px;
    min-width: 80px;
    font-size: 1rem;
  }

  .title-small {
    font-size: 1.2rem;
    margin-left: 20px;
  }

  .subtitle-small {
    font-size: 0.9rem;
    margin-left: 20px;
  }
.extracted-numbers-grid {
  margin-left: 2%;
  height: 100%; 
  min-height:300px; 
  max-height:300px; 
  display: flex;  /* affianca le colonne */  
  gap: 5%;       /* spazio tra colonne */  
}

.extracted-column {
   max-height: 100%;  
  gap: 1%;       /* spazio tra numeri verticalmente */
}
.subtitle-small {
  font-size: 0.7rem;
}


}

 
@media (min-width:1241px) {
  .green-table {
  width: auto;               
  min-width: 100%; 
  margin-top: 10%;     
  margin-left: 40%;      
  border-collapse: collapse;
  table-layout: auto;       
}

.green-table th,
.green-table td {
  border: 1px solid rgb(197, 196, 196);
  padding: 6px 12px;          
  text-align: center;
  font-size: 20px;
  white-space: nowrap;
}

.green-table th {
  background-color: #cacaca;    
  color: rgb(49, 49, 49);
  font-weight: normal;
}
 .ScaledContainer{
  transform: scale(0.6); /* Riduce la dimensione della roulette */
  transform-origin:top; /* Mantiene l'angolo superiore sinistro come punto di riferimento */
  width: 100%; /* Occupa tutta la larghezza disponibile */
  height: 100%; /* Occupa tutta l'altezza disponibile */ 
}

.col-green-table{
  width:50% 
}
.col-history{
  width:60%
}
.col-roulette{
  width:50%
}
.col-buttons{ 
  width:10%
}

 .bg-primary{
    font-Size: "0.85rem" 
  }
 
.col-buttons .rotated-button { 
  flex-direction: row;
    margin: 0 10px;
    margin-top: -300px;
  }
  .vertical-buttons {
  display: none;
  flex-direction: column;
  gap: 100px; /* distanza verticale tra bottoni */
}

.vertical-buttons button {
  min-width: 100px;
  text-align: center;
}
 .button-container { 
  justify-content: center; /* Centra i bottoni orizzontalmente */
  gap: 10px; /* Spazio tra i bottoni */
  margin-top: 20px; /* Spazio sopra i bottoni */
}

.rotated-button { 
    transform-origin: center;
    white-space: nowrap;
    width: max-content; 
    font-size: 14px;
    display: block;
    margin: 5px;
}


.NumeriEstrattiTitolo{
  font-size: 2.5rem;
  margin-left: 40%;
}
.extracted-number {
  width: 40px;
  height  :40px;
  font-size: 1.2rem;  
  font-weight: bold;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white; 
  margin-top:20px;
}
.click-history { 
  background-color: #f8f9fa; /* sfondo chiaro */
  border: 2px solid #ccc; /* bordo visibile */
  border-radius: 10px; 
  box-shadow: 0 4px 8px rgba(0,0,0,0.1); 
  height: 88%; /* per estendere l'altezza in colonna */
  max-width: 75%; 
  margin-top: 35px;
  margin-left: 20%;
 
}
  .rotated-button {
    font-size: 30px; 
  }

  .btn-danger{ 
    font-size: 2rem;
    margin-top: 5%;
    margin-left: 40%;
  }
    .btn-warning{ 
    font-size: 2rem;
    margin-top: 5%;
    margin-left: 70%;
  }
  .vertical-buttons { 
    max-width : 0px;
    gap: 80px; /* meno spazio per schermi piccoli */
  }
 
  .ipad-button-group {
    gap: 4rem; /* aumenta lo spazio tra i bottoni su iPad */
    margin-left: 40%;
  }
  .vertical-buttons button {
    margin-left:-50px;
    min-width: 80px;
    font-size: 1rem;
  }

  .title-small {
    font-size: 1.8rem;
    margin-left: 40px;
  }

  .subtitles{
    font-size: 1.2rem;
    margin-left: 20px;
  }
.extracted-numbers-grid { 
  height: 100%; 
  margin-left: 25px;
  display: flex;  /* affianca le colonne */  
  gap: 40px;       /* spazio tra colonne */
  min-height:650px; 
  max-height:650px;  
}

.extracted-column {
  display: flex;
  max-height:80% ;
  flex-direction: column;
  gap: 5px;       /* spazio tra numeri verticalmente */
}
.subtitle-small {
  font-size: 0.7rem;
}
}





