@media (max-width: 576px) {
  .sestine-table{
    width: 30% !important;
    max-width: 80%;
    white-space: nowrap;
  }

  .sestine-table {
    font-size: 0.7rem; /* testo ancora più compatto su mobile */
  }
   .table-wrapper {
    display: flex;
    justify-content: center;
    padding: 0;        /* rimuovi eventuali padding */
    margin: 0 auto;    /* centra */
  }

  .table-responsive {
    max-width: 100%;
    overflow-x: hidden;  
      max-height:100px;
  }
  .sestine-table th,
  .sestine-table td {
    padding: 2px 4px;
  }

   .sestine-table {
    transform: scale(0.6);     /* 🔹 Scala l'intera tabella */
    transform-origin: top left;
    width: 125%;               /* 🔹 Compensa il ridimensionamento */
    font-size: 0.75rem;        /* 🔹 Testo più piccolo */
  }
}

